html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  #container {
    display: table;
    width: 100%;
    height: 100%;
  }

  #nav {
    display: table-cell;
    width: 250px;
    background-color: #333;
    color: white;
    vertical-align: top;
    text-align: center;
    padding: 20px 0;
  }

  #contentWrapper {
    display: table-cell;
    width: auto;
    height: 100%;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #contentWrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  #nav ul {
    padding-left: 0;
    margin: 0;
  }

  #nav li {
    list-style: none;
    margin: 15px 0;
  }

  #nav li a {
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
  }

  #nav li a span {
    display: inline-block;
    width: 25px;        /* reserve space for icon */
    text-align: center;
    vertical-align: middle;
    margin-right: 8px;  /* space between icon and text */
    font-size: 1.2em;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }
