h1 {
            color: whitesmoke;
            text-align: center;
            margin-bottom: 30px;
   }
 body {
    font-family: Arial, sans-serif;
    justify-content: center;
    padding: 50px;
    color: whitesmoke;
  }

 .grid {
  clear: both;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}


  .box {
    border: 2px solid #333;
    border-radius: 8px;
    height: 150px;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    font-size: 20px;
    font-weight: bold;
    background-color: #333;
    text-align: center;
  }

  /* Optional: hover effect */
  .box:hover {
    background-color: #334;
    cursor: pointer;
  }

  .grid a {
    text-decoration: none;
    color: black;
  }

  h2 {
    text-align: center;
  }

  .box a {
    text-decoration: none;
    color: whitesmoke;
  }

  .gallery {
    margin: 5px;
    float: left;
    border: 2px solid #333;
    width: 200px;
  }

  .gallery img {
    width: 100%;
    height: auto;
  }

  .desc {
    padding: 20px;
    text-align: center;
  }
